.logo {
    // font-size: $font-size-heading-medium !important;
    background-image: url("./MoonLogo1.png");
    position: fixed;
    left : 10px;
    top: 44px;
    width: 70px;
    object-fit: contain;
    padding-left: 20px;
    padding-top: 10px;
    cursor: pointer;
    
  }