.btn {
    display: flex;
    background-color:#004c3f;   
    transition: 0.3s;
    margin-top: 30px;
}

.link{
    color: whitesmoke;
}
.btn:hover{
    background-color: green;
}
.link:hover{
   text-decoration: none;
   color:black;
}

.col-md-8{
    background-color:whitesmoke;
    color:black;
}

.col-md-4{
    background-color: whitesmoke;
    color: black;
}

.h_4{
    color:black;
    margin-top: 5px;
}


