html,body{
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f7f8 !important;
  padding-top: 130px;
}
@media screen and (max-width: 768px) {
  body {
    background-color: #f6f7f8 !important;
    padding-top: 200px;
  }
}

